:root {
  --el-color-primary: #2ea3ff;
  --el-text-color-regular: #313133;
  --el-border-radius-base: 2px;
}

#app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0;
  margin: 0;

  .ant-modal {
    .ant-modal-content {
      padding: 0;
    }

    .ant-modal-header {
      box-shadow: inset 0 -1px 0 0 #e6eaf0;
      margin-right: 0;
      padding: 15px 20px;
    }

    .ant-modal-body {
      padding: 16px;
    }

    .ant-modal-footer {
      padding: 16px;
      direction: rtl;
      text-align: start;

      .ant-btn {
        border-radius: 2px;
      }

      .ant-btn + .ant-btn {
        margin-right: 16px;
        margin-left: 0;
      }

      .ant-btn-primary {
        border: 1px solid #2ea3ff;
        background: #2ea3ff;
        border-radius: 2px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  .ant-btn {
    border-radius: 2px;
  }

  .ant-btn + .ant-btn {
    margin-right: 16px;
    margin-left: 0;
  }

  .ant-btn-primary {
    border: 1px solid #2ea3ff;
    background: #2ea3ff;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
  }
}
